<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CapturingAppender" class="akka.actor.testkit.typed.internal.CapturingAppender"/>
    <logger name="akka.actor.testkit.typed.internal.CapturingAppenderDelegate">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="CapturingAppender"/>
    </root>

</configuration>